<div id="{{title_bar_id}}">
  <img src="http://moziru.com/images/company-logos-clipart-generic-5.jpg" alt="Logo" id="title-logo">
  <div id="main-title">
    <a href="/home"><h1>Generic Company</h1></a>
  </div>
  <div id="current-user" class="title-user-info button">{{user}}'s Files</div>
  <div id="login-logout-button" class="title-user-info button">{{login}}</div>
</div>
<div class="login-popup">
  <div class="input-div">
    <input type="text" name="Username" value="">
    <input type="text" name="Password" value="">
  </div>
  <div id="submit-login-info-button" class="button">
    <span>Login (Not Implemented)</span>
  </div>
</div>
