{{> title}}
<div class="content" id="home-page-text">
  <h2>Why choose Contritum Files?</h2>
  <p>Here at Contritum Files, our motto is "Quidquid latine dictum, altum
    videtur". We strongly believe in working with this in mind. But what does
    that mean?
  </p>
  <h3>Accessibility</h3>
  <p>
    Contritum Files uses a system which has been designed to be the most
    accessable file processing system ever. Our system allows you easy access to
    your files anytime you want them. Contritum Files also allows you to share
    your files with your friends, and even let them edit the files with you.
  </p>
  <h3>Ease of Use</h3>
  <p>
    Our file editing system is designed to be simple and understandable for all
    of our users. With intuitive controls and a clean user interface, using
    a file system has never been easier!
  </p>
</div>
