body{
  background-color: #e0e0e0;
  margin: 0px;
  font-family: sans-serif;
}

.content{
  margin: 0px;
  margin-left: 10vw;
  width: 80vw;

  font-size: 15px;
}

.content h2{
  font-size: 30px;
  font-family: serif;
}

.content h3{
  font-size: 25px;
  font-family: serif;
}

.button:hover{
  cursor: pointer;
}

/*Font classes*/
.serif-font{
  font-family: serif;
}

.sans-serif-font{
  font-family: sans-serif;
}

.monospace-font{
  font-family: monospace;
}

.cursive-font{
  font-family: cursive;
}

.fantasy-font{
  font-family: fantasy;
}

/*Main title bar*/
#main-title-bar{
  height: 120px;
  width: 100vw;
  background-color: #3030f0;
  display: flex;
}

#main-title-bar #title-logo{
  width: 100px;
  height: 100px;
  margin: 10px 30px;
}

#main-title-bar #main-title{
  top: 10px;
  height: 120px;
}

#main-title-bar>#main-title h1{
  font-size: 75px;
  margin: 0px;
}

/*Secondary title bar*/
#secondary-title-bar{
  height: 60px;
  width: 100vw;
  background-color: #3030f0;
  display: flex;
}

#secondary-title-bar #title-logo{
  width: 50px;
  height: 50px;
  margin: 5px 15px;
}

#secondary-title-bar #main-title{
  top: 5px;
  height: 60px;
}

#secondary-title-bar>#main-title h1{
  font-size: 37px;
  margin: 0px;
}

/*Title bar*/
#main-title{
  position: relative;
  display: inline-block;
}

#main-title a{
  text-decoration: none;
  color: black;
}

/*User files and login buttons*/
.title-user-info{
  position: absolute;

  padding: 2px 5px;
  border-radius: 5px;

  background-color: #d0d0d0;
  font-size: 15px;
}

#main-title-bar .title-user-info{
  top: 90px;
}

#secondary-title-bar .title-user-info{
  top: 30px;
}

#current-user{
  right: 100px;
}

#login-logout-button{
  right: 25px;
}

/*Login popup*/
.login-popup{
  display: none;
  position: absolute;
  top: 120px;
  right: 15px;

  width: 225px;
  height: 100px;
  border-radius: 10px;

  background-color: #6080c0;
}

.input-div input{
  margin: 10px;
  margin-bottom: 0px;

  width: 205px;
  border-radius: 5px;
}

#submit-login-info-button{
  position: relative;
  top: 20px;
  left: 62px;

  width: 101px;
  border-radius: 5px;

  background-color: #d8d8d8;
  text-align: center;
}

/*User files page*/
#file-list{
  min-height: 500px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  background-color: white;
}


#file-options{
  padding-top: 5px;
  padding-bottom: 5px;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  color: white;
  background-color: #6060f0;
}

#file-options span{
  padding: 3px;
  margin-left: 20px;
}

#file-options span:hover{
  cursor: pointer;
  text-decoration: underline;
}

#delete-files{
  color: #b3b3b3;
}

#file-list p{
  margin: 0px;

  position: relative;
  top: 10px;
  left: 10px;

  width: calc(100% - 20px);
}

#file-list .file{
  margin-bottom: 15px;
  border-bottom: 1px solid black;
}

#file-list a{
  text-decoration: none;
  color: black;
}

#file-list .selected{
  background-color: yellow;
}

/*New file popup*/
#popup-background{
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;

  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
}

#new-file-popup{
  display: none;
  position: fixed;
  top: calc(50vh - 55px);
  left: calc(50vw - 100px);

  height: 110px;
  width: 200px;
  border-radius: 10px;

  background-color: #70a8d8;
}

#new-file-title{
  text-align: center;
  width: 200px;
  margin-top: 8px;
  font-size: 25px;
}

#file-name-input{
  margin-top: 10px;
  width: 200px;
}

#file-name-input label{
  margin-left: 10px;
}

#file-name-input input{
  width: 130px;
  font-size: 15px;
}

#popup-buttons{
  width: 200px;
  margin-top: 10px;
  margin-left: 35px;
}

#popup-buttons span{
  background-color: #8de08d;
  border: 1px solid #8de08d;
  border-radius: 3px;
}

#popup-buttons span:hover{
  cursor:pointer;
  background-color: white;
  border: 1px solid black;
}

/*Text file editing*/
#text-content{
  min-height: 600px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  border: 1px solid black;
  border-top: 0px;

  background-color: white;
}

#text-content p{
  margin: 0px;
}

#text-file-option-bar{
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  border: 1px solid black;
  border-bottom: 0px;

  color: white;
  background-color: #6060f0;
}

#text-file-option-bar span{
  margin-left: 20px;
}

#text-file-option-bar select{
  position: relative;
  top: 1px;

  height: 20px;
  font-size: 15px;

  border: 1px dashed black;

  color: white;
  background-color: #6060f0;
}

/*Save options popup*/
#save-options-popup{
  display: none;
  position: absolute;
  top: 111px;
  left: calc(10vw + 425px);

  width: 300px;
  height: 30px;

  border: 1px solid black;
  border-radius: 5px;

  background-color: #7dd07d;
  color: white;
}

#save-options-popup span{
  position: relative;
  top: 5px;
  margin-left: 20px;
}

/*Error pages*/
#error-div>h1{
  font-size: 75px;
}

#error-div{
  font-size: 30px;
  text-align: center;
  color: #4f4040;
}
