body{
  background-color: #e0e0e0;
  margin: 0px;
}

.content{
  margin-left: 10vw;
  width: 80vw;
}

/*Title bar*/
#main-title-bar{
  height: 120px;
  width: 100vw;
  background-color: #3030f0;
  display: flex;
}

#main-title{
  position: relative;
  top: 10px;

  height: 120px;
  display: inline-block;
}

#title-logo{
  width: 100px;
  height: 100px;
  margin: 10px 30px;
}

#main-title h1{
  font-size: 75px;
  margin: 0px;
}

/*User files and login buttons*/
.title-user-info{
  position: absolute;
  top: 90px;

  padding: 2px 5px;
  border-radius: 5px;
  background-color: #d0d0d0;
}

.title-user-info:hover{
  cursor: pointer;
}

#current-user{
  right: 100px;
}

#login-logout-button{
  right: 25px;
}

/*Login modal*/
.login-modal{
  display: none;
  position: absolute;
  top: 120px;
  right: 15px;

  width: 225px;
  height: 100px;
  border-radius: 10px;

  background-color: #6080c0;
}

.input-div>input{
  margin: 10px;
  margin-bottom: 0px;

  width: 205px;
  border-radius: 5px;
}

.submit-login-info-button{
  position: relative;
  top: 20px;
  left: 62px;

  width: 101px;
  border-radius: 5px;

  background-color: #d8d8d8;
  text-align: center;
}

.submit-login-info-button:hover{
  cursor: pointer;
}
